// b::b bottom 
$pink-hero: #ed2e7c;

// prior contents

$pink: #f7287a;
$pink-dark: #c00172;
$pink-link: #bd37ba;
$pink-bg: #f3c7dd;
$grey: #6f767d;
$grey-light: #f9f9f9;

$break-mobile: 600px;
$break-tablet: 960px;

$width-mobile: 960px;
$width-tablet: 720px;
$width-desktop: 960px;

$width-menu: 100px;
$overhang: 25px;

//--------------------------------------------------------------------------------

@mixin content {
  @media screen and (max-width: $break-mobile) {
    width: 100%;
  }

  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    width: 100%;
  }

  @media screen and (min-width: $break-tablet) {
    width: $width-desktop;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin black-border {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-sizing: border-box;
}

h1, h2, h3, p {
  font-family: Nunito, arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

//--------------------------------------------------------------------------------

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

//--------------------------------------------------------------------------------

.header {
  margin-top: 10px;
  @include content;

  padding-bottom: 5px;

  @media screen and (max-width: $break-mobile) {
    border-bottom: 1px solid white;
  }

  .hamburger, .organization, .mission, .social {
    float: left;
    color: white;
  }

  .hamburger {
    position: relative;
    margin: 5px 8px 3px 3px;
    top: -2px;
    float: left;
    background: url(/images/hamburger.png) no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
    cursor: pointer;

    @media screen and (min-width: $break-mobile) {
      display: none;
    }
  }

  .social {
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  .organization {
    @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      text-align: center;
    }

    @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      width: $width-desktop/4;
      text-align: left;
      padding-left: 10px;
    }

    @media screen and (min-width: $break-tablet) {
      width: $width-desktop/3;
      text-align: center;
    }

    h1 {
      font-weight: normal;
      margin: 0;
      padding: 0;

      @media screen and (max-width: $break-mobile) {
        font-size: 30px;
      }

      @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
        font-size: 24px;
      }

      @media screen and (min-width: $break-tablet) {
        font-size: 24px;
      }
    }

    p {
      color: $pink;
      font-size: 9px;
      font-style: italic;
      margin: 0;

      @media screen and (max-width: $break-mobile) {
        display: none;
      }
    }

    .registered {
      position: relative;
      top: -.8em;
      font-size: .5em;
    }
  }

  .mission {
    font-weight: normal;
    font-style: italic;

    @media screen and (max-width: $break-mobile) {
      display: none;
    }

    @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      width: $width-desktop/3;
    }

    @media screen and (min-width: $break-tablet) {
      width: $width-desktop/2;
    }
  }
}

//--------------------------------------------------------------------------------

.navigation {
  @include content;

  &.active .banner {
    height: 275px;
    transition: height .3s;
  }

  .banner {
    transition: height .3s;

    @media screen and (max-width: $break-mobile) {
      background-color: black;
      height: 0;
      overflow-y: hidden;
    }

    @media screen and (min-width: $break-mobile) {
      position: relative;
      overflow-x: visible;
      background-color: black;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
    }

    @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      width: 100%;
    }

    @media screen and (min-width: $break-tablet) {
      width: $width-desktop + 2 * $overhang;
      left: -$overhang;
    }
  }

  ul {
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;

    @media screen and (min-width: $break-tablet) {
      width: 620px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    margin: 0 2px;
    color: white;

    @media screen and (max-width: $break-mobile) {
      border-top: 1px solid $grey;
      font-size: 20px;
      padding: 10px 15px;
    }

    @media screen and (min-width: $break-mobile) {
      padding: 6px 15px;
      text-align: center;
      float: left;
      font-size: 14px;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

//--------------------------------------------------------------------------------

#video-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

#video-container.active {
  display: block;
  z-index: 100;
}

//--------------------------------------------------------------------------------

.homepage {
  @include content;

  .hero {
    background: url(/images/backgrounds/grill.jpg);
    border-top: 2px solid black;
    @include black-border;

    .girl {
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: $break-tablet) {
        background: url(/images/backgrounds/girl-small.png) no-repeat top center;
        width: 350px;
        height: 141px;
      }

      @media screen and (min-width: $break-tablet) {
        background: url(/images/backgrounds/girl-big.png) no-repeat top center;
        width: 620px;
        height: 249px;
      }
    }
  }

  .message {
    background: url(/images/backgrounds/pink-burst.jpg) center top no-repeat;
    @include black-border;

    h1, h2, h3, h4, p {
      margin: 0;
      padding: 0;
      color: white;
    }

    h1 {
      @media screen and (max-width: $break-tablet) {
        background: url(/images/homepage-title-small.png) no-repeat;
        height: 43px;
        width: 340px;
        margin: 10px auto 25px;
      }

      @media screen and (min-width: $break-tablet) {
        background: url(/images/homepage-title.png) no-repeat;
        height: 85px;
        width: 678px;
        margin: 10px auto 25px;
      }
    }

    h2 {
      font-weight: 300;
      letter-spacing: -2px;
      color: $pink-hero;
      text-transform: uppercase;

      @media screen and (max-width: $break-tablet) {
        font-size: 40px;
        padding-top: 15px;
      }

      @media screen and (min-width: $break-tablet) {
        font-size: 50px;
      }
    }

    h2:before, h2:after {
      position: relative;
      top: -4px;
      font-weight: 400;
      content: '::';
      margin: 0 5px;
    }

    h3 {
      margin: 20px auto 0;

      @media screen and (max-width: $break-tablet) {
        background: url(/images/homepage-subtitle.png) no-repeat top center;
        background-size: 60%;
        width: 245px;
        height: 80px;
      }

      @media screen and (min-width: $break-tablet) {
        background: url(/images/homepage-subtitle.png) no-repeat;
        width: 245px;
        height: 128px;
      }
    }

    p {
      font-weight: 300;
      text-transform: uppercase;

      @media screen and (max-width: $break-tablet) {
        font-size: 15px;
        line-height: 1.4em;
      }

      @media screen and (min-width: $break-tablet) {
        font-size: 20px;
        line-height: 1.1em;
      }
    }
  }

  .mission {
    background: url(/images/backgrounds/grill-dark.jpg);
    @include black-border;

    $burst-margin: 8px;

    .elements {
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: $break-tablet) {
        width: 290 + (21 + $burst-margin * 2) * 2;
      }

      @media screen and (min-width: $break-tablet) {
        width: 460 + (21 + $burst-margin * 2) * 2;
      }

      > div {
        float: left;
      }

      .burst-left, .burst-right {
        box-sizing: border-box;
        width: 21px;
        height: 39px;
        position: relative;
        margin: 0 $burst-margin;

        @media screen and (max-width: $break-tablet) {
          top: 18px;
        }

        @media screen and (min-width: $break-tablet) {
          top: 8px;
        }
      }

      .burst-left {
        background: url(/images/backgrounds/burst-left.png) no-repeat;
      }

      .burst-right {
        background: url(/images/backgrounds/burst-right.png) no-repeat;
      }

      p {
        box-sizing: border-box;
        color: white;
        text-align: center;
        padding: 12px 0;

        @media screen and (max-width: $break-tablet) {
          width: 290px;
        }

        @media screen and (min-width: $break-tablet) {
          width: 460px;
        }
      }
    }
  }
}

.homepage {
  @include content;
  background-color: white;
  box-sizing: border-box;

  @media screen and (min-width: $break-tablet) {
    padding: 18px 24px;
  }

  .ticket-button {
    background-color: #6d1c54;
    border-radius: 8px;
    color: white;
    display: block;
    font-family: Nunito, arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;

    @media screen and (max-width: $break-mobile) {
      width: 338px;
    }

    @media screen and (min-width: $break-mobile) {
      width: 300px;
    }
  }

  .message, .hero {
    text-align: center;
  }

  .message {
    font-weight: bold;
    padding-bottom: 20px;
  }

  .hero {
    box-sizing: border-box;
    border: 2px solid black;
  }

  .text {
    color: $pink;
    text-align: left;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 20px 0;
    line-height: 24px;
    font-size: 18px;
    font-weight: normal;
  }

  .hero .message {
    background: $pink-bg; /* Old browsers */
    background: -moz-linear-gradient(top, #f3c7dd 1%, #f3c7dd 1%, #f2e3ed 49%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f3c7dd), color-stop(1%, #f3c7dd), color-stop(49%, #f2e3ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3c7dd 1%, #f3c7dd 1%, #f2e3ed 49%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3c7dd 1%, #f3c7dd 1%, #f2e3ed 49%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3c7dd 1%, #f3c7dd 1%, #f2e3ed 49%); /* IE10+ */
    background: linear-gradient(to bottom, #f3c7dd 1%, #f3c7dd 1%, #f2e3ed 49%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c7dd', endColorstr='#f2e3ed', GradientType=0); /* IE6-9 */

    color: $pink;

    h1 {
      padding-top: 15px;
      font-weight: normal;
    }

    h2 {
      font-weight: normal;

      @media screen and (max-width: $break-mobile) {
        font-size: 40px;
      }

      @media screen and (min-width: $break-mobile) {
        font-size: 60px;
      }
    }

    .date {
      @media screen and (max-width: $break-mobile) {
        font-size: 24px;
      }

      @media screen and (min-width: $break-mobile) {
        font-size: 40px;
      }
    }
  }

  .videos {
    position: relative;
    background: #430922 url(/images/homepage-background.jpg) no-repeat top center;

    @media screen and (max-width: $break-mobile) {
      height: 640px;
    }

    @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      height: 550px;
    }

    @media screen and (min-width: $break-tablet) {
      height: 425px;
    }
  }

  .video {
    color: white;
    text-decoration: none;
    font-size: 12px;
    box-sizing: border-box;
    padding: 3px;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    background-color: black;

    @media screen and (max-width: $break-mobile) {
      box-sizing: border-box;
      width: 100%;
      height: 160px;
    }

    @media screen and (min-width: $break-mobile) {
      margin: 0 8px;
      top: 220px;
      width: 210px;
      height: 160px;
    }
  }

  .video:after {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video-anniversary {
    background: black url(/images/homepage-anniversary.png) no-repeat center 100%;
  }

  .video-seattle {
    background: black url(/images/homepage-seattle.png) no-repeat center 100%;
  }

  .video-los-angeles {
    background: black url(/images/homepage-los-angeles.png) no-repeat center 100%;
  }

  .video-fashion-show {
    background: black url(/images/homepage-fashion-show.png) no-repeat center 100%;
  }
}

//--------------------------------------------------------------------------------

.content {
  @include content;

  background-color: white;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 15px;

  h1, h2, h3 {
    font-weight: normal;
    font-family: Georgia, Palatino, Times, serif;
  }

  h1 {
    color: $pink-dark;
    font-size: 36px;
    line-height: 43px;
  }

  h2 {
    margin-top: 18px;
    font-size: 24px;
    line-height: 30px;
    color: $grey;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: $grey;
    margin-bottom: 25px;

    @media screen and (max-width: $break-mobile) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (min-width: $break-mobile) {
      font-size: 13px;
      line-height: 20px;
    }
  }

  thead {
    visibility: hidden;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-spacing: 0;
    border-collapse: collapse;
  }

  td:first-of-type {
    border-top: 1px solid $grey-light;
  }

  td {
    padding: 1px 0;
    border-bottom: 1px solid $grey-light;
    font-family: Georgia, 'New Century Schoolbook', 'Nimbus Roman No9 L', serif;
    font-size: 13px;
    line-height: 21px;
    color: $grey;
  }

  hr {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  li {
    color: $grey;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .button.donation {
    background-color: $pink-dark;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $break-mobile) {
      font-size: 30px;
      padding: 15px 0;
      width: 90%;
    }

    @media screen and (min-width: $break-mobile) {
      padding: 5px 0;
      width: 220px;
      font-size: 20px;
    }
  }

  .tribute-wall {
    @media screen and (max-width: $break-mobile) {
      &.desktop {
        display: none;
      }
    }

    @media screen and (min-width: $break-mobile) {
      &.mobile {
        display: none;
      }
    }

    ul {
      background-color: $grey-light;
      box-sizing: border-box;
      float: left;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;

      @media screen and (max-width: $break-mobile) {
        width: 46%;
        font-size: 14px;
        padding: 0 5px;
        margin: 0 2% 0 0;
      }

      @media screen and (min-width: $break-mobile) {
        width: 24%;
        padding: 0 5px;
        margin: 0 8px 0 0;
      }
    }

    li {
      box-sizing: border-box;
      padding: 1px 8px;
      list-style: none;
    }
  }
}

//--------------------------------------------------------------------------------

.beneficiary {
  float: left;
  width: 96px;
  margin-right: 15px;

  @media screen and (max-width: $break-mobile) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $break-mobile) {
    height: 150px;
  }
}

.beneficiary-bcef {
  background: url(/images/beneficiary/bceflogo.png) no-repeat;

  @media screen and (max-width: $break-mobile) {
    height: 120px;
  }
}

.beneficiary-breastcancerfund {
  background: url(/images/beneficiary/breast-cancer-fund.png) no-repeat;

  @media screen and (max-width: $break-mobile) {
    height: 69px;
  }
}

.beneficiary-shanti {
  background: url(/images/beneficiary/Margot_Murphy_BCP_logo.png) no-repeat;

  @media screen and (max-width: $break-mobile) {
    height: 71px;
  }
}

.beneficiary-wcrc {
  background: url(/images/beneficiary/wcrclogoOver.gif) no-repeat;

  @media screen and (max-width: $break-mobile) {
    height: 32px;
  }
}

//--------------------------------------------------------------------------------

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  @media screen and (min-width: $break-tablet) {
    background: url(/images/backgrounds/grill-dark.jpg);
  }
  @media screen and (max-width: $break-tablet) {
    background-color: black;
  }
}

body, td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a {
  color: $pink-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

