<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">

  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>

</head>
<body lang="en">

this is the home page

<section id="main">
  <div>

    adasd
    the Title is "{{.Title}}"<br/>
    the IsPage is "{{.IsPage}}"<br/>
    the IsNode is "{{.IsNode}}"<br/>
    the IsNode is "{{.Permalink}}"<br/>
  </div>
</section>

{{ partial "footer.html" }}





