<div class="header clearfix">
  <div class="hamburger"></div>
  <div class="organization">
    <h1>Beats for Boobs<span class="registered">&reg;</span></h1>
  </div>
</div>
<div class="navigation">
  <div class="banner">
    <ul class="clearfix">
      <li><a href="/">Home</a></li>
      <li><a href="/content/about-us/index.html">About</a></li>
      <li><a href="/content/tribute-wall/index.html">Tribute Wall</a></li>
<!--
      <li><a href="/galleries-collections/galleries/">Galleries</a></li>
-->
      <li><a href="/contact/index.html">Contact</a></li>
      <li><a href="/content/make-donation/index.html">Donate</a></li>
      <li><a href="/content/2015-san-francisco-beneficiaries/index.html">Beneficiaries</a></li>
    </ul>
  </div>
</div>
