<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/website.css"/>
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="JavaScript">
  $(document).ready(function () {
    // hamburger menu
    $('.hamburger').on('click', function (element) {
      $(".navigation").toggleClass("active");
    });
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58423036-1', 'auto');
  ga('send', 'pageview');

</script>
