<div class="header clearfix">
  <div class="hamburger"></div>
  <div class="organization">
    <h1>Beats for Boobs<span class="registered">&reg;</span></h1>

    <p>A Project of Breast Cancer Emergency Fund</p>
  </div>
  <div class="mission">
    Uniting our community to support local breast cancer organizations through a collaborative
    celebration of art, fashion, food, music &amp; eduction
  </div>
  <div class="social">
  </div>
</div>
<div class="navigation">
  <div class="banner">
    <ul class="clearfix">
      <li><a href="/">Home</a></li>
      <li><a href="/content/about-us">About</a></li>
      <li><a href="/content/tribute-wall/">Tribute Wall</a></li>
<!--
      <li><a href="/galleries-collections/galleries/">Galleries</a></li>
-->
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/content/make-donation/">Donate</a></li>
      <li><a href="/content/2014-san-francisco-beneficiaries/">Beneficiaries</a></li>
    </ul>
  </div>
</div>