<html>
<head>
  {{ partial "head.html" . }}
  <title>{{ .Site.Title }}</title>
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
  <script>
    function isMobile() {
      try {
        document.createEvent("TouchEvent");
        return true;
      }
      catch (e) {
        return false;
      }
    }

    function playVideo(src) {
      removeVideo();
      $("#video-container").addClass("active");

      var element = document.createElement("iframe");
      element.setAttribute("src", src);
      element.setAttribute("frameborder", "0");
      element.setAttribute("height", "100%");
      element.setAttribute("width", "100%");

      $("#video-container").append(element);
    }

    function removeVideo() {
      $("#video-container").empty();
    }

    function closeVideoModal() {
      removeVideo();
      $("#video-container").removeClass("active");
    }

    $(document).on("keyup", function (e) {
      if (e.which == 27) {
        closeVideoModal();
      }
    });

    $(document).ready(function () {
      if (isMobile()) {
        $('.video').each(function (index, element) {
          var href = $(element).data('mobile');
          $(element).attr("href", href);
        });

      } else {
        // video player
        $('.video').on('click', function (element) {
          var src = $(element.target).data('src');
          playVideo(src);
          return false;
        });
      }
    });

  </script>
</head>
<body lang="en">
{{ partial "header.html" . }}

<div class="homepage">
  <div class="hero">
    <div class="message">
      <h1>Beats for Boobs San Francisco Turns it Up to 11</h1>

      <h2>Save the Date!</h2>

      <p class="date">Saturday, January 24, 2015</p>

<!--
      <a class="ticket-button" href="https://beatsforboobs.eventbrite.com">Buy Tickets</a>
-->

    </div>
    <div class="videos">
      <a data-mobile="https://www.youtube.com/embed/aMhdrsUM5V0?autoplay=1&fs=1&rel=0"
         data-src="//www.youtube.com/embed/aMhdrsUM5V0?autoplay=1"
         target="_top" class="video video-anniversary" href="#">10th Anniversary B4B Celebration</a>
      <a data-mobile="https://www.youtube.com/embed/ebKhRDPdje8?autoplay=1&fs=1&rel=0"
         data-src="//www.youtube.com/embed/ebKhRDPdje8?autoplay=1"
         target="_top" class="video video-seattle" href="#">Beats for Boobs Seattle 2011</a>
      <a data-mobile="https://www.youtube.com/embed/o1wdAxPXjT8?autoplay=1&fs=1&rel=0"
         data-src="//www.youtube.com/embed/o1wdAxPXjT8?autoplay=1"
         target="_top" class="video video-los-angeles" href="#">Beats for Boobs Los Angeles 2011</a>
      <a data-mobile="https://www.youtube.com/embed/60LZg5zImBQ?autoplay=1&fs=1&rel=0"
         data-src="//www.youtube.com/embed/60LZg5zImBQ?autoplay=1"
         target="_top" class="video video-fashion-show" href="#">Beats for Boobs Fashion Show 2010</a>
    </div>
    <div>
      <p class="text">
        Beats for Boobs 2014 granted $40,000 back to our community.
        Beats for Boobs’ goal is to grant a total of $50,000 our 2015 Beneficiaries!
      </p>

      <p class="text">
        On Saturday, January 24, 2015 grab your electric guitar, put on your tightest leather and acid washed jeans, and
        get ready to rock! Your amps are on 10. Where do you go from there? One louder, one fiercer – this one goes to
        11!
      </p>

      <p class="text">
        Join Beats for Boobs and get rowdy while honoring and remembering those impacted by breast cancer. In its
        eleventh year, Beats for Boobs will present a rockumentary of friends and families at Mezzanine in San
        Francisco. Riotous DJs on the turntables, Spinal Tap-inspired fashion show, live performance art and culinary
        delights turn the dial up.
      </p>

      <p class="text">
        Tease that hair, rock the animal print and blow out the speakers on breast cancer!
      </p>
    </div>
  </div>
</div>

<div id="video-container"></div>

{{ partial "footer.html" . }}
</body>
