<html>
<head>
  {{ partial "head.html" . }}
  <title>{{ .Site.Title }}</title>
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
  <script>
    function isMobile() {
      try {
        document.createEvent("TouchEvent");
        return true;
      }
      catch (e) {
        return false;
      }
    }

    function playVideo(src) {
      removeVideo();
      $("#video-container").addClass("active");

      var element = document.createElement("iframe");
      element.setAttribute("src", src);
      element.setAttribute("frameborder", "0");
      element.setAttribute("height", "100%");
      element.setAttribute("width", "100%");

      $("#video-container").append(element);
    }

    function removeVideo() {
      $("#video-container").empty();
    }

    function closeVideoModal() {
      removeVideo();
      $("#video-container").removeClass("active");
    }

    $(document).on("keyup", function (e) {
      if (e.which == 27) {
        closeVideoModal();
      }
    });

    $(document).ready(function () {
      if (isMobile()) {
        $('.video').each(function (index, element) {
          var href = $(element).data('mobile');
          $(element).attr("href", href);
        });

      } else {
        // video player
        $('.video').on('click', function (element) {
          var src = $(element.target).data('src');
          playVideo(src);
          return false;
        });
      }
    });

  </script>
</head>
<body lang="en">
{{ partial "header.html" . }}

<div class="homepage">
  <div class="hero">
    <div class="girl"></div>
  </div>
  <div class="message">
    <h2>Turn It Up To 11</h2>

    <h1></h1>

    <a href="https://www.eventbrite.com/e/11th-annual-beats-for-boobs-turn-it-up-to-11-tickets-2328805520"
       class="ticket-button">Buy Tickets</a>

    <p>Saturday, January 24, 2015</p>

    <p>Mezzanine :: 444 Jessie St :: San Francisco</p>

    <p><a href="https://www.facebook.com/events/745626772192037/">Visit Us On Facebook</a></p>

    <h3></h3>


  </div>
  <div class="mission">
    <div class="elements clearfix">
      <div class="burst-left"></div>
      <div>
        <p>
          Uniting our community to support local breast cancer organizations through a collaborative celebration
          of art, fashion, food, music &amp; education.
          <p><span style="color: #ff3366;">Benefiting:</span></p>
          <p><a href="http://bcef.org/" rel="nofollow"><span style="color: #ffffff;">Breast Cancer Emergency Fund</span></a></p>
          <p><a href="http://www.breastcancerfund.org/" rel="nofollow"><span style="color: #ffffff;">Breast Cancer Fund</span></a></p>
          <p><a href="http://shanti.org/" rel="nofollow"><span style="color: #ffffff;">Shanti’s Margot Murphy Breast Cancer Program</span></a></p>
          <p><a href="http://www.wcrc.org/" rel="nofollow"><span style="color: #ffffff;">Women's Cancer Resource Center</span></a></p>
          <p><span style="color: #ff3366;">Music by:</span></p>
          <p><a href="http://www.mancubsf.com/" rel="nofollow"><span style="color: #ffffff;">Mancub</span></a> (Space Cowboys)</p>
          <p><a href="https://soundcloud.com/spacecowboys/sets/shooey" rel="nofollow"><span style="color: #ffffff;">shOOey</span></a> (Space Cowboys)</p>
          <p><a href="https://soundcloud.com/haute-mess" rel="nofollow"><span style="color: #ffffff;">Haute Mess</span></a> (Brass Tax)</p>
          <p><a href="https://soundcloud.com/lumenetti" rel="nofollow"><span style="color: #ffffff;">Lumenetti</span></a> (Sunday Best)</p>
          <p><a href="http://mcslee.com/" rel="nofollow"><span style="color: #ffffff;">Mark Slee</span></a> (listed, House-Heads)</p>
          <p><a href="https://soundcloud.com/atish" rel="nofollow"><span style="color: #ffffff;">Atish</span></a> (listed)</p>
          <p><span style="color: #ff3366;">Fashion by:</span></p>
          <p><a href="http://www.fiveanddiamond.com" rel="nofollow"><span style="color: #ffffff;">Shawna Hofmann for Five and Diamond</span></a></p>
          <p><a href="http://www.warriorwithindesigns.com/" rel="nofollow"><span style="color: #ffffff;">Warrior Within Designs</span></a></p>
          <p><a href="http://www.silverlucydesign.com" rel="nofollow"><span style="color: #ffffff;">Silver Lucy</span></a></p>
          <p><a href="http://www.darkgarden.com" rel="nofollow"><span style="color: #ffffff;">Dark Garden</span></a></p>
          <p><a href="http://www.prettykittysf.com" rel="nofollow"><span style="color: #ffffff;">Pretty Kitty</span></a></p>
          <p><a href="http://www.romanticrock.net" rel="nofollow"><span style="color: #ffffff;">Romantic Rock</span></a></p>
          <p><span style="color: #ffffff;">The House of YumYum</span></p>
          <p><a href="https://www.facebook.com/missvelvetcream" rel="nofollow"><span style="color: #ffffff;">Miss Velvet Cream</span></a></p>
          <p><a href="https://www.facebook.com/pages/Tamo-Design/57466788136" rel="nofollow"><span style="color: #ffffff;">Survivor VIPS dressed by Tamo Designs</span></a></p>
          <p><span style="color: #ff3366;">Performances by:</span></p>
          <p><a href="https://www.facebook.com/chardonnaycomedy" rel="nofollow"><span style="color: #ffffff;">Pop Roxwell: San Francisco's 2013 & 2014 <a href="https://www.youtube.com/watch?v=Hul9i9NzJs0&list=PLh3WHB350no2dYMjM22wTjTQxr4bliW3c&index=8" rel="nofollow"><span style="color: #ffffff;">Air Guitar Champion</span></a></span></a></p>
          <p><a href="http://www.solarflarefire.com" rel="nofollow"><span style="color: #ffffff;">Light Performance by Solar Flare</span></a></p>
          <p><a href="http://www.gogopro.com/" rel="nofollow"><span style="color: #ffffff;">GoGo Pro Performers</span></a></p>
          <p><a href="http://www.trapezeworld.com/" rel="nofollow"><span style="color: #ffffff;">Aerial Tissue Performance by Kerri Kresinski of Trapezeworld</span></a></p>
          <p><span style="color: #ffffff;">Ultimate Alliance Dance Company</span></p>
          <p><span style="color: #ff3366;">Hair and Makeup provided by:</span></p>
          <p><a href="http://www.kbcbeauty.com" rel="nofollow"><span style="color: #ffffff;">KBC Beauty + Team</span></a></p>
          <p><a href="http://thewoodbridgesf.com" rel="nofollow"><span style="color: #ffffff;">The Woodbridge Salon in San Francisco</span></a></p>
          <p><span style="color: #ff3366;">Photography by:</span></p>
          <p><a href="http://vetterphotography.com/" rel="nofollow"><span style="color: #ffffff;">Jim Vetter Photography</span></a></p>
          <p><a href="http://www.scottfinphotography.com/#!/index" rel="nofollow"><span style="color: #ffffff;">Scott Fin: Great Scott Photography</span></a></p>
          <p><a href="http://www.scottsnellphotography.com/" rel="nofollow"><span style="color: #ffffff;">Scott Snell Photography</span></a></p>
          <p><a href="http://brianmacstayphotography.com/" rel="nofollow"><span style="color: #ffffff;">Brian MacStay Photography</span></a></p>
          <p><span style="color: #ff3366;">Art by:</span></p>
          <p><a href="http://www.bobackemad.com/" rel="nofollow"><span style="color: #ffffff;">Boback Emad</span></a></p>
          <p><a href="http://www.dusermania.com/about.html" rel="nofollow"><span style="color: #ffffff;">Duser</span></a></p>
          <p><span style="color: #ffffff;">Jessica Hoff</span></p>
          <p><a href="http://www.carolermoore.com/gallery2/v/New/" rel="nofollow"><span style="color: #ffffff;">Carole Moore</span></a></p>
          <p><span style="color: #ffffff;">Max Ehrman</span></p>
          <p><span style="color: #ffffff;">Silver Lucy</span></p>
          <p><span style="color: #ff3366;">Visuals by:</span></p>
          <p><a href="http://www.slideandspin.com" rel="nofollow"><span style="color: #ffffff;">Slide and Spin</span></a></p>
          <p><span style="color: #ffffff;">Jason Flores</span></p>
          <p><span style="color: #ff3366;">Food by:</span></p>
          <p><a href="http://www.merigansubshop.com" rel="nofollow"><span style="color: #ffffff;">Merigan Sub Shop</span></a></p>
          <p><a href="http://www.newdelhirestaurant.com" rel="nofollow"><span style="color: #ffffff;">New Dehli Restaurant</span></a></p>
          <p><a href="http://www.casadecase.com/" rel="nofollow"><span style="color: #ffffff;">Casa de Case</span></a></p>
          <p><a href="http://www.thecakegallerysf.com" rel="nofollow"><span style="color: #ffffff;">Cake Gallery</span></a></p>
          <p><a href="http://www.homesteadcookies.com" rel="nofollow"><span style="color: #ffffff;">Homestead Cookies</span></a></p>
          <p><a href="https://www.littlejohnscandies.com" rel="nofollow"><span style="color: #ffffff;">Little John's Candies</span></a></p>
          <p><a href="http://www.rebeccajeancatering.com" rel="nofollow"><span style="color: #ffffff;">Rebecca Jean Catering</span></a></p>
          <p></p>
          <p><span style="color: #ffffff;">More entertainment to be announced soon!</span></p>

        </div>
      <div class="burst-right"></div>
    </div>
  </div>
</div>



<div id="video-container"></div>

{{ partial "footer.html" . }}
</body>
